<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout3</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <div class="main-ctn">
        <div class="div1">
            <div class="div1child1"></div>
            <div class="div1child2"></div>
        </div>
        <div class="div2"></div>
        <div class="div3"></div>
        <div class="div4"></div>
    </div>
</body>
</html>