*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-ctn{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}


.div1, .div2, .div3, .div4{
    width: 100%;
    height: 25%;
}
.div1{
    background-color: aliceblue;
}
.div2{
    background-color: aqua;
}
.div3{
    background-color: aquamarine;
}
.div4{
    background-color: brown;
}


.right{
    width: 50vw;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: row;
}

.rl, .rr{
    width: 50%;
    height: 100%;
}

.rl{
    background-color: #c8beef;
}
.rr{
    display: flex;
    flex-direction: column;
}

.rrt, .rrb{
    width: 100%;
    height: 50%;
}

.rrt{
    background-color: cadetblue;
}
.rrb{
    background-color: black;
}