*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main-ctn{
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hidden{
    display: none;
}

.loader{
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.image{
    width: 40vw;
    height: 60vh;
}