*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

.main-ctn{
    width: 100vw;
    min-height: 100vh;
}
/* ---------------------------start of welcome ctn--------------------- */
.welcome-ctn{
    width: 100vw;
    height: 100vh;
    background-image: url('./welcome.jpg');
    background-position: center;
    background-size:cover;
    position:relative;
    /* background-repeat: no-repeat; */
}
.welcome-ctn::after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

.fixed{
    position: fixed;
    top: 200px;
    left: 200px;
    z-index: 11; 
}
.heading{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.btn{
    top: 350px;
    width: 400px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #5CDB94;
    color: #5CDB94;
    padding: 5px;
    cursor: not-allowed;
}

.btn:hover{
    background-color: #5CDB94;
    color: red;
}


.para{
    top: 420px;
    color: white;
    font-family: sans-serif;
}

.content-ctn{
    position: absolute;
    z-index: 11;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}


/* -----------------------------end of welcome ctn---------------------------------- */


/* --------------------------------start of services section------------------- */


.services{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.top-h{
    font-family: sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}
.top-p{
    font-family: sans-serif;
}
.top-h span{
    color:#5CDB94;
}


.bottom{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    width: 40%;
    height:40%;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.card{
    
    background-position: center;
    background-size: contain;
    position: relative;
}
.div1{
    background-image: url('./code.jpg');
}
.div2{
    background-image: url('./game.jpg');
}
.card::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.7;
}

.bottom-content-ctn{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    gap: 10px;
}
.card-heading{
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}
.card-logo{
    width: 100px;
    height: 100px;
}
.card-para{
    color: white;
    font-family: sans-serif;
}
/* --------------------------------end of services section------------------- */

/* ------------------------------------------start of recent projects----------------------- */
.recent-projects{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    gap: 60px;
}

.rp-heading{
    font-family: sans-serif;
    font-size: 30px;
}
.rp-heading span{
    color: #5CDB94;
}

.recent-project-card{
    width: 70vw;
    height: 65vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rpc-top{
    width: 100%;
    height: 39%;
    background-image: linear-gradient(to right,#5ACB8E,#495865);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    gap: 5px;
}
.rpc-bottom{
    width: 100%;
    height: 61%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.rpc-bottom img{
    width: 100%;
    height: 100%;
}
.bottom-image{
    transition: .4s ease transform;
}

.rpc-bottom:hover .bottom-image{
    transform: scale(1.3);
}

/* 
.rpc-bottom::after{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
    position: absolute;
} */


.rpc-top-heading{
    font-size: 39px;
    color: white;
    font-weight: 100;
}
.rpc-top-sub-heading{
    font-size: 17px;
    color: white;
    font-family: monospace;
}
.rpc-top-para{
    font-size: 15px;
    color: white;
    font-family: monospace;
}
/* ------------------------------------------end of recent projects----------------------- */